<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA_Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>Confirmation</title>
    </head>
    <body>
        <script>
            alert("Chuc mung ban da trung so");
        </script>
        <span style="color: blueviolet;" > Hello{{modle.name}}</span>
        <Br>
        A{{modle.gender}}
    </body>
</html>